<!DOCTYPE html>
<html lang="en">

<body>

    <h5 class="text-center" style="margin-top: 25px; margin-bottom: 25px;">Three Most Populated Countries</h5>
    <div class="col-12">
        <div class="card-deck chs_teamgrid">
            <div class="card" *ngFor="let country of countrys" routerLink="/detail/" [state]={country:country}>
                <div class="card-body text-center">
                    <span class="card-title" style="color: white;">{{country.name}}</span>
                </div>
                <div class="card-footer">
                    <p class="card-text text-center">
                        {{country.population | number : 0}}
                        <small class="text-muted"></small><br> People
                    </p>
                </div>
            </div>
        </div>
    </div>

    <h5 class="text-center" style="margin-top: 25px; margin-bottom: 25px;">Three Largest Countries(Area)</h5>
    <div class="col-12">
        <div class="card-deck chs_teamgrid">
            <div class="card" *ngFor="let country of countrys" routerLink="/detail/" [state]={country:country}>
                <div class="card-body text-center">
                    <span class="card-title" style="color: white;">{{country.name}}</span>
                </div>
                <div class="card-footer">
                    <p class="card-text text-center">
                        {{country.area | number : 0}} Km<sup>2</sup>
                        <small class="text-muted"></small><br>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- <div style="margin-top: 55px;">

    </div> -->


    <!-- <div class="card-body">
        Three Largest Countries (Area)
        <a *ngFor="let country of countrys" routerLink="/detail/" [state]={country:country}>
            <span class="badge"></span>
            <h5>{{country.name}}</h5>
            {{country.area}} Km

        </a>
        Aksi:
    <button class="btn btn-danger waves-effect waves-light" 
    title="Delete Hero" (click)="deleteCountry(country.id)"> Delete</button>            
    </div> -->

    <!-- <ul class="countrys">
  <li *ngFor="let country of countrys">
    <a routerLink="/detail/{{country.id}}">
      <span class="badge">{{country.id}}</span>
      {{country.name}}
    </a>
    <button class="btn btn-danger waves-effect waves-light" title="Delete Hero" (click)="deleteCountry(country.id)"> Delete</button>
  </li>
</ul> -->

</body>

</html>